body
{
	height: 100%;
	background-color: #E0E0DD;
}

#editor { 
	width: 45%;
	height: 500px;
	float: left;
	margin-left: 3%;
}


#remoteEditor { 
	float: right;
	width: 45%;
	height: 500px;
	margin-right: 3%;
	color: transparent;
	text-shadow: 0 0 5px rgba(150,150,150,0.5);
}

#question {
	margin-left: auto;
	margin-right: auto;
	width:80%;
	text-align: center;
	font-family: 'EB Garamond', serif;
	font-size: 20px;
	font-weight: 700;
}

#playerLabel
{
	margin-left: 3%;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}

#opponentLabel
{
	margin-right: 3%;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}

#clear
{
	clear:both;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
  
}

.collapse .navbar-collapse
{
	height: 50px;
}

#logo
{ 
	margin-left: -70px;
	margin-top: 10px;
	height: 30px;
}
